* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.navbar {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section {
  padding: 1%;
}
