<section class="checkoutTotalRow">
    <h2>My Shopping Bag</h2>
    <h2 class="total">Order total: {{ $root.view.totalPrice | convertPrice }}</h2>
</section>

<table class="checkoutTable">

    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
    </tr>

    <tr ng-repeat="item in $root.view.bag track by $index"
        class="checkoutItem">
        <td>
            <h2>{{ item.name }}</h2>
            <img ng-src="{{ item.imageUrl }}"
                alt="tea">
            <br>
            <br>
            <strong>Caffeine Scale: </strong><span>{{ item.caffeineScale }}</span>
            <br>
            <br>
            <strong>Ingredients: </strong>
            <span>{{ item.ingredients }}</span>
            <br>
            <br>
            <strong>Rating: </strong>{{ item.rating }}
        </td>
        <td><span>{{ item.quantity }}</span></td>
        <td><strong>{{ item.price * item.quantity | convertPrice }}</strong></td>
        <td>
            <div class="buttons">
                <button>Edit</button>
                <button ng-click="removeItem($index)">Remove</button>
            </div>
        </td>
    </tr>

</table>
