<section class="searchRow">

    <div>
        <label for="categorySearch">Search by category:</label>
        <select id="categorySearch"
            class="categorySearch"
            ng-model="view.categorySearch">
            <option value="">(none)</option>
            <option value="{{ category }}"
                ng-repeat="category in view.categories track by $index">{{ category }}</option>
        </select>

        <label for="nameSearch">Search by name: </label>
        <input id="nameSearch"
            class="nameSearch"
            type="text"
            ng-model="view.nameSearch">
    </div>

    <button class="checkoutButton"
        ng-click="redirectToCheckout()">
        <strong>Checkout&nbsp;&nbsp;|</strong>&nbsp;&nbsp;
        <span>Bag:
          <span ng-pluralize
            count="$root.view.bag.length"
            when="{'0': 'Empty!',
                   'one': '(1)',
                   'other': '({})'}">
          </span>
        </span>
    </button>

</section>

<table class="teaTable">

    <tr>
        <th>Tea</th>
        <th>
            Information
            <div class="sortingDiv">
                <label>Sort By Price: </label>
                <select class="priceSort"
                    ng-model="view.priceSort">
                    <option value="">(chaos)</option>
                    <option value="price">Low to High</option>
                    <option value="-price">High to Low</option>
                </select>
            </div>
        </th>
    </tr>

    <tr ng-repeat="tea in view.teas
                    | filter : {name : view.nameSearch, categories: view.categorySearch}
                    | orderBy : view.priceSort"
        ng-init="tea.quantity = '1'"
        jn-tea-item
        class="tea">
    </tr>

</table>
