* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-family: Helvetica, sans-serif; }

body {
  position: absolute;
  left: 3vw;
  width: 94vw;
  height: 100vh;
  font-size: 16pt; }

header {
  margin-bottom: 2%; }
  header .guarantee {
    background-color: #FF7141;
    text-align: center;
    color: white; }
  header h1 {
    color: #FF7141;
    font-style: italic;
    font-size: 56pt; }
  header nav {
    background-color: #F9FAFB;
    border: 2px solid #F1F2F3;
    border-radius: 6px;
    padding: 2%; }
    header nav a {
      color: #88898A;
      text-decoration: none;
      margin: 2%; }

main section.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  main section.searchRow div {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    main section.searchRow div input,
    main section.searchRow div select {
      font-size: 16pt;
      margin: 0 2%; }
  main section.searchRow .checkoutButton {
    background-color: #E26D5F;
    color: white;
    border: 2px solid #DF5556;
    border-radius: 6px;
    padding: 1%;
    font-size: 16pt;
    display: flex;
    align-items: center; }
    main section.searchRow .checkoutButton:hover {
      cursor: pointer;
      background-color: #E25D5F; }
    main section.searchRow .checkoutButton strong {
      font-size: 21pt; }
    main section.searchRow .checkoutButton span {
      font-size: 14pt; }
main table.teaTable, main table.checkoutTable {
  border: 2px solid #E3E4E5;
  margin-top: 1%;
  width: 100%;
  border-collapse: collapse; }
  main table.teaTable tr.tea.ng-enter, main table.checkoutTable tr.tea.ng-enter {
    animation: fadeIn 0.3s; }
  main table.teaTable tr.tea.ng-leave, main table.checkoutTable tr.tea.ng-leave {
    animation: fadeOut 0.3s; }
  main table.teaTable tr th, main table.checkoutTable tr th, main table.teaTable tr td, main table.checkoutTable tr td {
    border: 2px solid #E3E4E5;
    text-align: left;
    padding: 1%; }
    main table.teaTable tr th:first-child, main table.checkoutTable tr th:first-child, main table.teaTable tr td:first-child, main table.checkoutTable tr td:first-child {
      width: 20%; }
    main table.teaTable tr th:last-child, main table.checkoutTable tr th:last-child, main table.teaTable tr td:last-child, main table.checkoutTable tr td:last-child {
      width: 80%; }
    main table.teaTable tr th .sortingDiv, main table.checkoutTable tr th .sortingDiv, main table.teaTable tr td .sortingDiv, main table.checkoutTable tr td .sortingDiv {
      float: right;
      display: flex;
      align-items: center; }
      main table.teaTable tr th .sortingDiv input, main table.checkoutTable tr th .sortingDiv input, main table.teaTable tr td .sortingDiv input, main table.checkoutTable tr td .sortingDiv input,
      main table.teaTable tr th .sortingDiv select,
      main table.checkoutTable tr th .sortingDiv select,
      main table.teaTable tr td .sortingDiv select,
      main table.checkoutTable tr td .sortingDiv select {
        font-size: 16pt;
        margin: 0 2%; }
  main table.teaTable tr td, main table.checkoutTable tr td {
    position: relative;
    white-space: normal; }
    main table.teaTable tr td .quantitySelect, main table.checkoutTable tr td .quantitySelect {
      position: absolute;
      top: 2%;
      right: 5%;
      display: flex;
      align-items: center; }
      main table.teaTable tr td .quantitySelect label, main table.checkoutTable tr td .quantitySelect label {
        font-size: 1.5em; }
      main table.teaTable tr td .quantitySelect .addToBag, main table.checkoutTable tr td .quantitySelect .addToBag {
        color: white;
        background-color: #F5B965;
        border: 2px solid #F5A965;
        border-radius: 6px;
        padding: 2%;
        font-size: 16pt; }
        main table.teaTable tr td .quantitySelect .addToBag:hover, main table.checkoutTable tr td .quantitySelect .addToBag:hover {
          cursor: pointer;
          background-color: #F5A965; }
      main table.teaTable tr td .quantitySelect *, main table.checkoutTable tr td .quantitySelect * {
        margin: 0 2%; }
main section.checkoutTotalRow h2 {
  display: inline-block; }
  main section.checkoutTotalRow h2.total {
    float: right; }
main table.checkoutTable tr.checkoutItem.ng-leave {
  position: absolute;
  transition: 1s; }
main table.checkoutTable tr.checkoutItem.ng-leave.ng-leave-active {
  animation: slideOutLeft 1s;
  opacity: 0; }
main table.checkoutTable tr.checkoutItem th:first-child, main table.checkoutTable tr.checkoutItem td:first-child {
  width: 70%; }
main table.checkoutTable tr.checkoutItem td {
  max-width: 70%;
  white-space: normal; }
  main table.checkoutTable tr.checkoutItem td:nth-child(n+2) {
    padding: 1%; }
    main table.checkoutTable tr.checkoutItem td:nth-child(n+2) div,
    main table.checkoutTable tr.checkoutItem td:nth-child(n+2) span,
    main table.checkoutTable tr.checkoutItem td:nth-child(n+2) strong {
      position: absolute;
      top: 2%; }
    main table.checkoutTable tr.checkoutItem td:nth-child(n+2) .buttons {
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around; }
      main table.checkoutTable tr.checkoutItem td:nth-child(n+2) .buttons button {
        border-radius: 6px;
        padding: 2%;
        min-width: 40%;
        background-color: #FFB943;
        border: 2px solid #FFA943;
        font-size: 16pt;
        color: white; }
        main table.checkoutTable tr.checkoutItem td:nth-child(n+2) .buttons button:hover {
          background-color: #FFA943;
          cursor: pointer; }
        main table.checkoutTable tr.checkoutItem td:nth-child(n+2) .buttons button:last-child {
          background-color: #FB5D48;
          border: 2px solid #FB4D48; }
          main table.checkoutTable tr.checkoutItem td:nth-child(n+2) .buttons button:last-child:hover {
            background-color: #FB4D48; }
  main table.checkoutTable tr.checkoutItem td span {
    white-space: normal; }
main .teaCategory {
  position: relative;
  left: 5%; }
main .miniTea {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  border-radius: 50%;
  transition: 1s ease-in-out; }
  main .miniTea.ng-leave {
    animation: fadeOut 1s; }

/*# sourceMappingURL=style.css.map */
