<div ng-repeat="pirate in view.pirates track by $index"
    class="row pirate">
    <div class="col-md-6 column">
        <h2 class="pirateName">{{ pirate.name }}</h2>
        <img ng-src="{{ pirate.image_url }}"
            alt="argh">
        <p>
            <br>
            <strong>Accessory: </strong><span>{{ pirate.accessory }}</span>
            <br>
            <strong>Poison: </strong><span>{{ pirate.poison }}</span>
        </p>
        <button class="remove"
            ng-click="removePirate(pirate.id)">Walk the plank!</button>
    </div>
</div>
