<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Angular Events</title>
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="main.js" charset="utf-8"></script>
</head>

<body ng-controller="myController">
    <div class="box">
        <h1 class="center">Random Number Generator</h1>
        <hr>
        <h3>
          The number is: {{ view.number }}
        </h3>
        <button ng-click="pickRandomNumber()">Randomize!</button>
    </div>

    <div class="box">
        <h1 class="center">Word Reverser</h1>
        <hr>
        <input type="text" ng-model="view.word">
        <p>
            Your word is: {{ view.word }}
        </p>
        <button ng-click="reverseWord()">Reverse!</button>
    </div>

    <div class="box" ng-controller="PingPongController">

        <h1 class="center">Ping Pong Score Keeper</h1>
        <hr>

        <div class="flexBox">

            <div id="playerOne" class="playerScore" ng-click="incrementScore('playerOne')" ng-class="{winner: scores.playerOne >= 11, loser: scores.playerTwo >= 11}">
                <h2 class="white">Player 1</h2>
                <div class="number white">{{ scores.playerOne }}</div>
                <p class="white" ng-show="scores.playerServing === 1">
                    Serving
                </p>
            </div>

            <div id="playerTwo" class="playerScore" ng-click="incrementScore('playerTwo')" ng-class="{winner: scores.playerTwo >= 11, loser: scores.playerOne >= 11}">
                <h2 class="white">Player 2</h2>
                <div class="number white">{{ scores.playerTwo }}</div>
                <p class="white" ng-show="scores.playerServing === 2">
                    Serving
                </p>
            </div>
        </div>

        <button type="button" name="button" ng-click="resetScores()">Reset</button>

    </div>

    <div class="box" ng-controller="MouseEnterController">
        <h1>Enter at your own risk</h1>
        <hr>
        <div class="flexBoxColumn">
            <div class="box enterMe" ng-mouseenter="view.enterCount = view.enterCount + 1">
                <h3>The div was entered {{ view.enterCount }} times.</h3>
            </div>
        </div>
    </div>

    <div class="box" ng-controller="RandomColors">
        <h1>Random Colors</h1>
        <hr>
        <div class="flexBoxColumn">
            <div class="box enterMe" ng-mouseenter="colors.color = randomColor()" ng-style="{backgroundColor: colors.color}">
            </div>
            <button ng-click="replay(colors.startReplayAt)">Replay</button>
        </div>
    </div>

    <div class="box" ng-controller="AddressController">
        <h1>Address Data Form</h1>
        <hr>
        <!-- The form should accept a street (line 1), street (line 2), city, state, and zip code.
        When the data is submitted, it again should be shown to the user (displayed on the page) and
        the form data should be cleared so that more data can be entered. -->
        <form class="box flexBoxColumn" name="addressForm" method="post" ng-submit="submit()">
            <label for="street1">Street (line 1)</label>
            <input id="street1" type="text" name="street1" ng-model="address.street1" placeholder="Enter address line 1" value="{{address.street1}}">

            <label for="street2">Street (line 2)</label>
            <input id="street2" type="text" name="street2" ng-model="address.street2" placeholder="Enter address line 2" value="{{address.street2}}">

            <label for="city">City</label>
            <input id="city" type="text" name="city" ng-model="address.city" placeholder="Enter city" value="{{address.city}}">

            <label for="state">State</label>
            <input id="state" type="text" ng-model="address.state" name="state" placeholder="Enter state" value="{{address.state}}">

            <label for="zip">Zip Code</label>
            <input id="zip" type="text" ng-model="address.zip" name="zip" placeholder="Enter zip code" value="{{address.zip}}">

            <button>Submit</button>
        </form>

        <div ng-show="copiedAddresses.length > 0" ng-repeat="address in copiedAddresses track by $index">
            <div class="box">
                <p>
                    {{ address.street1 }}
                    <br> {{ address.street2 }}
                </p>
                <p>
                    {{ address.city }}
                </p>
                <p>
                    {{ address.state }}
                </p>
                <p>
                    {{ address.zip }}
                </p>
            </div>
        </div>
    </div>

</body>

</html>
