<!DOCTYPE html>
<html lang="en"
    ng-app="MathApp">

<head>
    <meta charset="UTF-8">
    <title>Math App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

    <link rel="stylesheet"
        href="css/style.css">
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
</head>

<body ng-controller="MathController">
    <h1>Mini Calculator</h1>

    <form ng-submit="calc.result = calc.calculate()(calc.firstArg, calc.secondArg)">

        <div class="column">
            <label for="operation">Operation:</label>
            <br>
            <label for="firstArg">First argument:</label>
            <br>
            <label for="secondArg">Second argument:</label>
            <br>
        </div>

        <div class="column">
            <select id="operation"
                name="operation"
                ng-model="calc.operation">
                <option value="add">add</option>
                <option value="subtract">subtract</option>
                <option value="multipy">multiply</option>
                <option value="divide">divide</option>
                <option value="power">power</option>
            </select>
            <br>

            <input type="number"
                name="firstArg"
                ng-model="calc.firstArg"
                placeholder="first argument">
            <br>

            <input type="number"
                name="secondArg"
                ng-model="calc.secondArg"
                placeholder="second argument">
            <br>
            <input type="submit"
                value="Calculate!">
        </div>

    </form>
    <h2 ng-show="calc.result">The result is: {{ calc.result }}</h2>
</body>

</html>
