body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/treasuremap.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
@font-face {
    font-family: 'Piratey';
    src: url(../fonts/FreebooterUpdated.ttf);
}
@font-face {
    font-family: 'Bones';
    src: url(../fonts/Cartoon%20Bones.ttf);
}
.pirate, .pirateName {
    font-family: 'Piratey';
    font-size: 2.5em;
}
.row {
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #00B7FF;
}
img {
    max-height: 200px;
}
h1 {
    text-align: center;
}
form * {
    margin: .5%;
}
.centerHor {
    display: flex;
    justify-content: center;
}
.addPirate {
    border: 2px solid black;
    border-radius: 6px;
    padding: 1%;
    background-color: forestgreen;
    opacity: .8;
    color: white;
    font-family: 'Piratey';
    font-size: 2em;
    position: relative;
    width: 15%;
    left: 42.5%;
    top: 10px;
}
.addPirate:hover {
    background-color: darkgreen;
}
.pirate, .addPirateForm {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 1%;
}
.pirate:hover {
    box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.6);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(http://images.akamai.steamusercontent.com/ugc/884104004671878431/EEB7602123D5843BEE15E46C0B273DB5AA7A6BF7/);
    background-size: cover;
    background-position: center;
    padding: 1%;
    border-radius: 10px;
}
.anchor {
    position: relative;
    top: -200%;
    font-size: 4em;
    color: slategray;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.7);
}
.anchor:hover {
    animation: swing 1s;
}
.piratesHeader {
    font-family: 'Bones';
    font-size: 6em;
    color: white;
    text-shadow: 0 2px 1px black;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.remove {
    font-family: 'Piratey';
    font-size: .5em;
    padding: 1%;
    margin: 1%;
    border-radius: 6px;
    background-color: red;
    border: 2px solid black;
    color: white;
}
.remove:hover {
    background-color: darkred;
}
.pirate.ng-leave {
    animation: zoomOut 1s;
    transition: 1s;
}
.pirate.ng-leave-active {
    opacity: 0;
}
.pirate.ng-enter {
    opacity: 0;
    transition: 1s;
}
.pirate.ng-enter-active {
    animation: zoomIn 1s;
    opacity: 1;
}
