.box {
    border: 2px solid black;
    border-radius: 8px;
    margin: 1%;
    padding: 1%;
    text-align: center;
}
.center {}
.playerScore {
    background-color: #2C92DF;
    border-radius: 8px;
    height: 350px;
    width: 350px;
    margin: 1%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
}
.flexBox {
    display: flex;
    justify-content: center;
}
.flexBoxColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.white {
    color: white;
}
.winner {
    background-color: #22B771;
}
.loser {
    background-color: #F45A39;
}
button, form button {
    padding: 10px;
    font-size: 1.8em;
    border-radius: 8px;
}
.number {
    font-size: 12em;
}
.enterMe {
    height: 400px;
    width: 400px;
}
input[type="text"], input[type="number"] {
    border: 4px inset lightgray;
    width: 60%;
    font-size: .8em;
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;
}
form.box {
    padding: 2%;
    font-size: 2em;
}
.greenish {
    background-color: #55A956;
}
.newContact {
    width: 100%;
    font-size: .7em;
}
.newContact input {
    width: auto;
    padding: 5px;
}
.newContact button {
    font-size: 1em;
    padding: 5px;
}
.searchBar {
    text-align: left;
    font-size: 1.5em;
}
.searchBar input {
    width: auto;
}
.noBorder {
    border: none;
}
.alignLeft {
    text-align: left;
}
.testBorder {
    border: 4px dotted black;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
tr:nth-child(2n+ 1) {
    background-color: lightgray;
}
